@use "../abstracts/variables" as *;

.header {
  height: 78px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 32px;

  background: white;
  border-bottom: 1px solid $border;

  h2 {
    font-size: 24px;
  }

  p {
    color: $text-secondary;
    margin-top: 4px;
  }
}

.header__profile {
  display: flex;
  align-items: center;
  gap: 14px;
}

.header__avatar {
  width: 46px;
  height: 46px;

  border-radius: 50%;

  background: $primary;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-weight: 700;
}