@use "abstracts/variables";
@use "abstracts/mixins";

@use "base/reset";

@use "components/button";
@use "components/input";
@use "components/login";
@use "components/card";
@use "components/layout";

@use "components/header";
@use "components/sidebar";
@use "components/stat-card";

@use "pages/dashboard";
@use "components/progress";
@use "pages/schedule";

.page-enter-active,
.page-leave-active{
  transition:
    opacity .35s ease,
    transform .35s ease;
}

.page-enter-from{
  opacity:0;
  transform:translateY(16px);
}

.page-leave-to{
  opacity:0;
  transform:translateY(-10px);
}